
/*UC1*/

body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width: 80%;
}

.logo-content-img{
    border: solid 0px #42515f;
}

.add-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.addressbook{
    color: #42515f;
}

*{ box-sizing: border-box;}


/*UC2*/

.form {
    width: 65%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid skyblue;
    border-radius: 8px;
    opacity: 1;
    margin-left: 25%;
}

.form-head {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    opacity: 1;
    min-height: 90px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-text {
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: white;
    margin-left: 20%;
}

.cancel-img {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
    margin-left: 100px;
}